p{
    color: rgb(136, 9, 9);
    font-size: 20px;
}

h1{
    color: brown;
    font-size: 35px;
}
h2{
    color: blue;
    font-size: 30px;
}
h3{
    color: orangered;
    font-size: 25px;
}

label {
    color:brown;
    font-size: 28px;
    
}




textarea{

    font-size: 35px;
}

/*Cajas con diferentes estilos */

.box{
    width: 200px;
    padding: 15px;
    margin: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.red-box{
    background-color: lightcoral;
}

.blue-box{
    background-color: lightblue;
}

.green-box{
    background-color: lightgreen;
}



/*Barra de navegación fija */

nav{
    position: fixed;
    top: 0;
    width: 100px;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000; /*aparece por encima del contenido */

}
.container{

    position: relative;
    margin-top: 60px;/*para evitar que el contenido se superponga a la barra*/

}
.box1{

    position: absolute;
    top: 50px;
    left: 20px;
    width: 200px;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000; /*aparece por encima del contenido */

}

.box2{

    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    height:100px;
    background-color: lightcoral;
    z-index: 1000; /*aparece por encima de la caja con z-index 1 */

}
.contenedorflex{
    display: flex;
    flex-direction: row;
    border: 1px solid;
}

.item{
     margin:20px;
     padding: 50px;
     border: 1px solid;
     color: red ;

}

#a{
  border: yellow;

}

#b{
  border: pink;  
}

#c{
    border: green 10px dotted;
}
    
    